<div class="row"></div>
<section id="pruebas">
    <div class="container">
        <div class="row ">
            <h3 class="text-center pb-5 pt-2 h2 fw-bold"> Si te cuidas tú, nos cuidamos todos</h3>
            <div class="col-3 ">
                <h1 class="step-border  h3  mb-5 ">Identifica la prueba que necesitas </h1>
                <div class="content mx-auto align-self-center ">
                    <img src="assets/img/covid.png " class="img-fluid ">
                </div>
            </div>
            <div class="col-3 ">
                <div class="card card-border mb-5" style="width: 20rem;">
                    <div class="card-body ">
                        <img src="assets/img/iconovacuna.png" width="90" height="90" class="d-inline-block align-top" alt="Card image cap">
                        <h5 class="card-title fw-bold text-right mb-4">Prueba diagnóstica PCR en tiempo real</h5>

                        <ul>
                            <li>Se realiza en pacientes con síntomas o sospechas de contagio.</li>
                            <li>Se realiza por técnica PCR</li>
                            <li>Se otorga un diagnóstico preciso de la enfermedad.</li>
                            <li>El tiempo de entrega es de 72 hrs.</li>
                            <li>Sin ayuno.</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card card-border mb-5 " style="width: 20rem;">
                    <div class="card-body">
                        <img src="assets/img/iconovacuna.png" width="90" height="90" class="d-inline-block align-top" alt="Card image cap">
                        <h5 class="card-title fw-bold text-right mb-4">Prueba de antígenos COVID-19
                        </h5>

                        <ul>
                            <li>Se realiza en pacientes que busquen confirmar si sus síntomas son sinónimo de contagio.</li>
                            <li>Se recomienda realizarla dentro de los primeros 7 días iniciando los síntomas.</li>
                            <li>El tiempo de entrega es de 2 hrs.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card card-border mb-5 " style="width: 20rem;">
                    <div class="card-body">
                        <img src="assets/img/iconovacuna.png" width="90" height="90" class="d-inline-block align-top" alt="Card image cap">
                        <h5 class="card-title fw-bold text-right mb-4">Prueba de anticuerpos ANTISARS-CPV-2
                        </h5>

                        <ul>
                            <li>Se realiza en personas que ya no tienen o nunca tuvieron síntomas.
                            </li>
                            <li>Se procesa a través de una muestra de sangre.
                            </li>
                            <li> Se otorga un diagnóstico preciso de la enfermedad</li>
                            <li> El tiempo de entrega es de 48 hrs.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id='protocolo '>
    <div>
        <h3 class="text-center pb-3 pt-2 h2 fw-bold mb-5"> ¡Agenda tu prueba de COVID-19!</h3>
    </div>
    <div class="col-6 mb-5">
        <h3 class="text-center pb-3 pt-2 h1 ">¡Queremos cuidarte!</h3>
        <p class="lead mb-1 text-center">Al acudir a clínica, toma en cuenta el siguiente protocolo:</p>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col">
                <div class="row">
                    <div class="col-6 col-sm-6">
                        <div class="card shadow card-border mb-3" style="width: 18rem;">
                            <img src="assets/img/p1.png" width="110" height="85.12" class="d-inline-block align-top ms-2" alt="Card image cap">
                            <div class="inner">
                                <h5 class="card-title fw-bold ms-2">1. Cubre bocas</h5>
                                <p class="card-text ms-2"> Porta tu cubre bocas al entrar y úsalo durante toda tu estancia en clínica.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 ">
                        <div class="card shadow card-border mb-3 " style="width: 18rem;">
                            <img src="assets/img/p2.png" width="84" height="85.12" class="d-inline-block align-top ms-2" alt="Card image cap">
                            <div class="inner">
                                <h5 class="card-title fw-bold ms-2">2. Temperatura</h5>
                                <p class="card-text ms-2"> Tomaremos tu temperatura empleando un dispositivo 100% seguro.</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-6 col-sm-6">
                        <div class="card shadow card-border mb-3 " style="width: 18rem;">
                            <img src="assets/img/p3.png" width="87" height="83.12" class="d-inline-block align-top ms-2" alt="Card image cap">
                            <div class="inner">
                                <h5 class="card-title fw-bold ms-2">3. Sin acompañantes </h5>
                                <p class="card-text ms-2"> No podrán ingresar a clínica niño (a), personas adultas, conyuge, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 ">
                        <div class="card shadow card-border mb-3 " style="width: 18rem;">
                            <img src="assets/img/p4.png" width="73" height="91.12" class="d-inline-block align-top ms-2" alt="Card image cap">
                            <div class="inner">
                                <h5 class="card-title fw-bold ms-2">4. Gel antibacterial</h5>
                                <p class="card-text ms-2"> Te brindaremos gel antibacterial para que desinfectes tus manos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-6 col-sm-6  ">
                        <div class="card shadow card-border mb-3 " style="width: 18rem;">
                            <img src="assets/img/p5.png" width="84" height="83.12" class="d-inline-block align-top ms-2" alt="Card image cap">
                            <div class="inner">
                                <h5 class="card-title fw-bold ms-2">5. Sana distancia</h5>
                                <p class="card-text ms-2"> Señalizamos el piso para que mantengas sana distancia con los demás.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6  ">
                        <div class="card shadow card-border mb-3 " style="width: 18rem;">
                            <img src="assets/img/p6.png" width="90" height="83.12" class="d-inline-block align-top ms-2" alt="Card image cap">
                            <div class="inner">
                                <h5 class="card-title fw-bold ms-2">6. No tocar</h5>
                                <p class="card-text ms-2">Por favor, evita tocar o recargarte en superficies y paredes.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col">
                <!--<h6 class="text-muted">Ingrese los datos correspondientes</h6>
                <hr>-->
                <!--     <input type="text" class="form-control input-text mt-2" name="nombre" formControlName="nombre" required="required" placeholder="Escoge la prueba">-->
                <form [formGroup]="form">
                    <label class="fw-bold ">Prueba</label>
                    <select id="inputState" class="form-control mt-2" name="prueba" formControlName="prueba" required="required">
                          <option selected class="text-muted" placeholder="Escoge la prueba" ></option>
                          <option>Prueba diagnóstica PCR en tiempo real</option>
                          <option>Prueba de antígenos COVID-19</option>
                          <option>Prueba de anticuerpos ANTISARS-CPV-2</option>
                        </select>
                    <br>

                    <label class="fw-bold">Selecciona tu fecha y horario</label>
                    <div class="row mt-2">
                        <div class="col">
                            <input type="date" class="col-12  text-muted" name="fecha" formControlName="fecha" required="required" min="2021-06-15" max="2021-12-31" step="2" placeholder="Fecha" />
                        </div>
                        <div class="col">
                            <input type="time" class="col-12  text-muted" name="hora" formControlName="hora" required="required" min="07:00" max="20:00" step="3600" />
                        </div>
                    </div>
                    <br>

                    <label class="fw-bold ">Por favor registrar los datos tal cual aparecen en su identificación oficial</label>

                    <div class="row mt-2">

                        <div class="col">
                            <input type="text" class="form-control input-text" name="nombre" formControlName="nombre" required="required" placeholder="Nombre(s)">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control input-text" name="apellidopaterno" formControlName="apellidopaterno" required="required" placeholder="Apellido paterno">
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col">
                            <label class="fw-bold "></label>
                            <input type="text" class="form-control input-text" name="apellidomaterno" formControlName="apellidomaterno" required="required" placeholder="Apellido materno">
                        </div>
                        <div class="col ">
                            <label class="fw-bold mt-1">Fecha de nacimiento</label>
                            <input type="date" class="col-12  text-muted " name="nacimiento" formControlName="nacimiento" required="required" value="2021-06-15" min="1930-01-01" max="2021-12-31">

                        </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <label class="fw-bold "></label>
                            <input type="text" class="form-control input-text" name="cp" formControlName="cp" required="required" minlength="5" maxlength="5" placeholder="Código Postal">
                            <span class="form-text text-danger" *ngIf="form.controls.cp?.invalid && form.controls.cp?.touched">Ingrese 5 dígitos</span>
                        </div>
                        <div class="col ">
                            <label class="fw-bold "></label>
                            <input type="text" class="form-control input-text" name="colonia" formControlName="colonia" required="required" placeholder="Colonia">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <label class="fw-bold "></label>
                            <input type="text" class="form-control input-text" name="calle" formControlName="calle" required="required" placeholder="Calle">
                        </div>
                        <div class="col ">
                            <label class="fw-bold "></label>
                            <input type="text" class="form-control input-text" name="numdir" formControlName="numdir" required="required" placeholder="Número">
                        </div>
                    </div>
                    <div class="row ">
                        <label class="fw-bold mt-3">Género</label>
                        <div class="col">

                            <div class="form-check mt-2 align-right">
                                <input class="form-check-input" type="radio" value="Femenino" name="genero" id="exampleRadios1" formControlName="genero" required="required" checked>
                                <label class="form-check-label" for="exampleRadios1">Femenino </label>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="form-check mt-2 ">
                                <input class="form-check-input" type="radio" value="Masculino" name="genero" id="exampleRadios2" formControlName="genero" required="required">
                                <label class="form-check-label" for="exampleRadios2">Masculino</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <label class="fw-bold ">Contacto</label>
                    <input type="text" class="form-control input-text mt-2" name="tel" formControlName="tel" required="required" placeholder="Ingrese número telefónico">


                    <div class="form-group mt-2">
                        <input type="email" class="form-control input-text" name="correo" formControlName="correo" required="required" placeholder="Ingrese correo electrónico">
                    </div>
                    <br>
                    <button class="col-12 btn btn-primary " [disabled]="form.invalid" (click)="Guardar()">Guardar</button>
                </form>

            </div>

        </div>
    </div>

</section>
<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{form.valid}}</pre>

        <span>Pristine</span>
        <pre>{{form.pristine}}</pre>

        <span>Touched</span>
        <pre>{{form.touched}}</pre>

        <span>Value</span>
        <pre>{{form.value | json}}</pre>
    </div>
</div>