<!-- Inicio -->

<body background="assets/img/iniciofondo.png ">


    <section id="intro">
        <div class="container h-100 ">


            <div class="row  h-100  ">
                <div class="col-lg-6 d-flex">
                    <div class="content mx-auto align-self-center ">
                        <h1 class="step-border  display-4 fw-bold mb-4 ">Si te cuidas tú, nos cuidamos todos
                            <Span class="text-primary ">.</Span>
                        </h1>
                        <p class="lead mb-4 ">¡Agenda tu prueba COVID-19! podrás encontrar tomas de muestra de alta eficiencia y cero contacto. Para utilizar estos servicios, es necesario hacer cita online.</p>
                        <a href="# " class="btn btn-primary btn-lg mb-5 " [routerLink]="['servicios']">Solicitar</a>
                    </div>
                </div>
                <div class="col-lg-6 d-flex">
                    <div class="content mx-auto align-self-center px-4">
                        <img src="assets/img/ilustracionn.png " class="img-fluid ">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sintomas -->
    <section id='sintomas'>
        <div>
            <h3 class="text-center pb-3 pt-2 h2 fw-bold mb-1"> Síntomas</h3>
            <p class="text-center mb-5">Una persona debe sospechar de COVID-19 cuando presenta al menos dos de los siguientes síntomas:</p>
        </div>
        <div class="container ">
            <div class="row justify-content-md-center  p-l-55 p-r-55 p-t-65 p-b-54">
                <div class="col col-md-auto">
                    <div class="card shadow card-border mb-3 " style="width: 15rem;">
                        <img src="assets/img/s1.png" width="206" height="179" class="rounded mx-auto d-block mb-3" alt="Card image cap">
                        <div class="inner">
                            <h5 class="card-title fw-bold text-center mb-3">Tos / Estornudos </h5>
                        </div>
                    </div>
                </div>
                <div class="col col-md-auto ">
                    <div class="card shadow card-border mb-3  " style="width: 15rem;">
                        <img src="assets/img/s2.png" width="206" height="179" class="rounded mx-auto d-block mb-3" alt="Card image cap">
                        <div class="inner">
                            <h5 class="card-title fw-bold text-center mb-3">Fiebre</h5>
                        </div>
                    </div>
                </div>
                <div class="col col-md-auto ">
                    <div class="card shadow card-border mb-3 " style="width: 15rem;">
                        <img src="assets/img/s3.png" width="206" height="179" class="rounded mx-auto d-block mb-3" alt="Card image cap">
                        <div class="inner">
                            <h5 class="card-title fw-bold text-center mb-3">Dolor de cabeza</h5>
                        </div>
                    </div>
                </div>
                <div class="col col-md-auto ">
                    <div class="card shadow card-border mb-3 " style="width: 15rem;">
                        <img src="assets/img/s4.png" width="206" height="179" class="rounded mx-auto d-block mb-3" alt="Card image cap">
                        <div class="inner">
                            <h5 class="card-title fw-bold text-center mb-3">Dificultad respirar</h5>
                        </div>
                    </div>
                </div>
                <div class="w-220 mb-4"></div>
                <p class="text-center mb-5">Y que se acompaña de alguno de los siguientes:</p>
                <div class="col col-md-auto ">
                    <div class="card shadow card-border mb-3 " style="width: 15rem;">
                        <img src="assets/img/s5.png" width="194" height="185" class="rounded mx-auto d-block mb-3" alt="Card image cap">
                        <div class="inner">
                            <h5 class="card-title fw-bold text-center mb-3">Dolor de garganta</h5>
                        </div>
                    </div>
                </div>
                <div class="col col-md-auto ">
                    <div class="card shadow card-border mb-3  " style="width: 15rem;">
                        <img src="assets/img/s6.png" width="191" height="187" class="rounded mx-auto d-block mb-3" alt="Card image cap">
                        <div class="inner">
                            <h5 class="card-title fw-bold text-center mb-3">Escurrimiento nasal</h5>
                        </div>
                    </div>
                </div>
                <div class="col col-md-auto mb-5">
                    <div class="card shadow card-border mb-5 " style="width: 15rem;">
                        <img src="assets/img/s7.png" width="200" height="190 " class="rounded mx-auto d-block mb-3" alt="Card image cap">
                        <div class="inner">
                            <h5 class="card-title fw-bold text-center mb-3">Dolores en músculos</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="info">
        <div class="container">
            <div class="row row justify-content-md-center  p-l-55 p-r-55 p-t-65 p-b-54">
                <div class="col-lg-6 mb-5">
                    <div class="content ">
                        <img src="assets/img/ilustracion2.png " class="img-fluid ">
                    </div>
                </div>
                <div class="col-lg-6  mx-auto align-self-center">

                    <h1 class="step-border h2 fw-bold text-left ms-5 mb-4"> ¿Qué debo hacer si tengo síntomas de COVID-19? </h1>
                    <p class="lead mb-4 ms-5">Si tiene síntomas leves, como tos o fiebre leves, generalmente no es necesario que busque atención médica. Quédese en casa, aíslese y vigile sus síntomas</p>
                    <a href="# " class="btn btn-outline-primary ms-5" [routerLink]="['preguntasf']">Ver más</a>
                </div>
            </div>
        </div>
    </section>

    <section id="pruebas">
        <div class="container">
            <div class="row ">
                <div class="col-3 ">
                    <h1 class="step-border  h3  mb-5 ">Identifica la prueba que necesitas </h1>
                    <div class="content mx-auto align-self-center ">
                        <img src="assets/img/covid.png " class="img-fluid ">
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="card card-border mb-5" style="width: 20rem;">
                        <div class="card-body ">
                            <img src="assets/img/iconovacuna.png" width="90" height="90" class="d-inline-block align-top" alt="Card image cap">
                            <h5 class="card-title fw-bold text-right mb-4">Prueba diagnóstica PCR en tiempo real</h5>

                            <ul>
                                <li>Se realiza en pacientes con síntomas o sospechas de contagio.</li>
                                <li>Se realiza por técnica PCR</li>
                                <li>Se otorga un diagnóstico preciso de la enfermedad.</li>
                                <li>El tiempo de entrega es de 72 hrs.</li>
                                <li>Sin ayuno.</li>
                            </ul>
                            <a href="# " class="btn btn-outline-primary  d-block mx-auto " [routerLink]="['servicios']">Solicitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card card-border mb-5 " style="width: 20rem;">
                        <div class="card-body">
                            <img src="assets/img/iconovacuna.png" width="90" height="90" class="d-inline-block align-top" alt="Card image cap">
                            <h5 class="card-title fw-bold text-right mb-4">Prueba de antígenos COVID-19
                            </h5>

                            <ul>
                                <li>Se realiza en pacientes que busquen confirmar si sus síntomas son sinónimo de contagio.</li>
                                <li>Se recomienda realizarla dentro de los primeros 7 días iniciando los síntomas.</li>
                                <li>El tiempo de entrega es de 2 hrs.</li>
                            </ul>
                            <a href="# " class="btn btn-outline-primary  d-block mx-auto " [routerLink]="['servicios']">Solicitar</a>

                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card card-border mb-5 " style="width: 20rem;">
                        <div class="card-body">
                            <img src="assets/img/iconovacuna.png" width="90" height="90" class="d-inline-block align-top" alt="Card image cap">
                            <h5 class="card-title fw-bold text-right mb-4">Prueba de anticuerpos ANTISARS-CPV-2
                            </h5>

                            <ul>
                                <li>Se realiza en personas que ya no tienen o nunca tuvieron síntomas.
                                </li>
                                <li>Se procesa a través de una muestra de sangre.
                                </li>
                                <li> Se otorga un diagnóstico preciso de la enfermedad</li>
                                <li> El tiempo de entrega es de 48 hrs.</li>
                            </ul>
                            <a href="# " class="btn btn-outline-primary  d-block mx-auto " [routerLink]="['servicios']">Solicitar</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <div class="card" style="width: 18rem;">
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/iconovacuna.png" width="100" height="100" class="d-inline-block align-top" alt="Card image cap"> Prueba</a>
                    <div class="card-body">
                        <h5 class="p">Card title</h5>
                        <p class="card-text ">- Se realiza en pacientes con síntomas o sospechas de contagio. - Se realiza por técnica PCR. - Se otorga un diagnóstico preciso de la enfermedad. - El tiempo de entrega es de 72 hrs.</p>
                        <a href="# " class="btn btn-outline-primary">Solicitar</a>
                    </div>
                </div>-->


    <div class="containernotice mb-5">
        <div class="row mx-auto justify-content-center">
            <h3 class="stepp-border  pb-3 pt-2 h2 fw-bold mb-5 "> Noticias </h3>

            <div class="col col-md-auto">
                <div class="card shadow card-border" style="width: 22rem;">
                    <div class="inner">
                        <img class="card-img-top mb-4" src="assets/img/noticia1.jpg" alt="Card image cap">
                    </div>
                    <div class="cardd-body">
                        <h5 class="card-title fw-bold mb-4">México acumula 223 mil 568 muertes por COVID-19</h5>
                        <p class="card-text mb-4">En las últimas 24 horas, el país sumó 61 fallecimientos más que el día anterior, se detalló que el país sumó 932 contagios...

                        </p>
                        <a href="https://www.informador.mx/mexico/COVID-19-Mexico-acumula-223-mil-568-muertes-por-coronavirus-20210531-0103.html" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>

            <div class="col col-md-auto">
                <div class="card shadow card-border" style="width: 21rem;">
                    <div class="inner">
                        <img class="card-img-top mb-4" src="assets/img/noticia2.png" alt="Card image cap">
                    </div>
                    <div class="cardd-body">
                        <h5 class="card-title fw-bold mb-4">CDMX iniciará vacunación a personas de 40 a 49 años</h5>
                        <p class="card-text">Las autoridades reportaron que esta semana se aplicará la segunda dosis para personas adultas mayores de 60 años, a partir del 1 de junio ...</p>
                        <a href="https://www.eleconomista.com.mx/politica/CDMX-iniciara-vacunacion-contra-Covid-19-a-personas-de-40-a-49-anos-a-partir-del-1-de-junio-en-cuatro-alcaldias-20210529-0012.html" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>

            <div class="col col-md-auto">
                <div class="card shadow card-border" style="width: 22rem;">
                    <div class="inner">
                        <img class="card-img-top mb-4" src="assets/img/noticia3.jpg" alt="Card image cap">
                    </div>
                    <div class="cardd-body">
                        <h5 class="card-title fw-bold mb-2">Cinco entidades del país presentan alza en casos de COVID-19</h5>
                        <p class="card-text">La Secretaría de Salud informó este lunes que ya son 223 mil 568 las personas fallecidas...</p>
                        <a href="https://www.elfinanciero.com.mx/nacional/2021/05/31/estas-son-las-entidades-de-mexico-en-donde-los-contagios-covid-van-en-aumento/" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section>
        <div class="container">
            <div class="text-light mb-5 text-center p-5 rounden">
                <p> Mediline © 2021 | Todos los Derechos Reservados | Aviso de privacidad | Términos y condiciones
                </p>
            </div>
        </div>
    </section>

    <!-- <section id="borde" class="border-bottom border-secundary border-2">
                    <div id="bg-borde">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#458FF6" fill-opacity="2" d="M0,96L1440,0L1440,320L0,320Z"></path></svg>
                    </div>
                </section>-->

    <!-- <div class="text-header d-flex align-items-center ">
    <div class="container ">
        <div class="row font-weight-bold ">
            <div class="col-sm-8 font-weight-light ">
                <h2>Si te cuidas tú, nos cuidamos todos</h2>
                <p>¡Agenda tu prueba COVID-19! podrás encontrar tomas de muestra de alta eficiencia y cero contacto. Para utilizar estos servicios, es necesario hacer cita online.</p>
                <a href=" " class="btn btn-yo "><span>Solicitar servicio</span></a>
            </div>
        </div>
    </div>
</div> -->

    <!-- <div class="card " style="width: 18rem; ">
    <img src="assets/img/iconovacuna.png " class="card-img-top " alt="... ">
    <div class="card-body ">
        <h5 class="card-title ">Prueba diagnóstica PCR en tiempo real</h5>
        <p class="card-text ">- Se realiza en pacientes con síntomas o sospechas de contagio. - Se realiza por técnica PCR. - Se otorga un diagnóstico preciso de la enfermedad. - El tiempo de entrega es de 72 hrs.</p>
        <a href="# " class="btn btn-primary ">Solicitar</a>
    </div>
</div> -->
</body>