<div class="row"></div>

<body background="assets/img/preguntasfondo.png ">

    <section id="preguntas">
        <div class="container">
            <div class="row ">
                <h3 class="text-center pb-5 pt-2 h2 fw-bold"> Preguntas frecuentes</h3>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md ">
                <h1 class="step-border  h3 fw-bold mb-5  "> Laboratorio</h1>
                <div class="content mx-auto align-self-center ">
                    <img src="assets/img/img3.png " class="img-fluid ">
                </div>
            </div>
            <div class="col-lg-8 ">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="card">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            ¿Es necesario el agendar una cita?
                    </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Si. Debido a que queremos evitar aglomeraciones en la clínica. La toma de muestra es de lunes a viernes de 13:00 a 19:00, sábados de 13:00 a 17:00 y domingos de 11:00 a 14:00 hrs.</div>
                        </div>
                    </div>
                    <div class="card">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            ¿Cuál es el porcentaje de efectividad en la prueba?

                    </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">La prueba cuenta con un 96.52% de sensibilidad y 99.68% de especificad. En caso de padecer síntomas y presentar un resultado negativo, es importante realizarse una prueba PCR en tiempo real.</div>
                        </div>
                    </div>
                    <div class="card">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            ¿Realizan consultas médicas?
                    </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Ofrecemos servicios de laboratorio. Buscamos fortalecer y agilizar el proceso del paciente en el cuidado de su salud, y principalmente, fomentar la cultura de la prevención.</div>
                        </div>
                    </div>
                    <div class="card">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            ¿Por qué sus estudios son tan accesibles?
                    </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">La accesibilidad de nuestros servicios se debe a una combinación de esfuerzos entre toda la familia Mediline, directivos y colaboradores, junto con nuestros aliados. Trabajamos enfocados a la sustentabilidad y la estrategia,
                                lo que nos permite atenderte con tecnología de punta a precios bajos.</div>
                        </div>
                    </div>
                    <div class="card">
                        <h2 class="accordion-header" id="flush-headingten">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseten">
                            ¿Las pruebas son seguras?

                    </button>
                        </h2>
                        <div id="flush-collapseten" class="accordion-collapse collapse" aria-labelledby="flush-headingten" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Todo laboratorio médico debe trabajar con las normas de higiene y seguridad, tanto para los pacientes como para el personal, es por eso que se desechan todos los materiales que han sido utilizados, sin embargo, es importante
                                que los paciente siempre se fijen que el material sea nuevo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ">
                <div class="accordion accordion-flush " id="accordionFlushExample">
                    <div class="card">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            ¿Se contagia por el sudor?
                    </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">El coronavirus no se transmite por el sudor ni por la sangre. Se propaga mediante gotículas procedentes de la nariz o la boca que salen despedidas cuando una persona infectada tose o exhala.</div>
                        </div>
                    </div>
                    <div class="card">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            ¿Si ya tuve COVID-19 y me recupere debo de vacunarme?

                    </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">En este momento no hay suficiente información disponible como para afirmar si una persona que estuvo infectada no volverá a infectarse o por cuánto tiempo estará protegida contra el COVID-19; esto se llama inmunidad natural.
                                La evidencia sugiere que es probable que la inmunidad natural contra el COVID-19 no dure demasiado, pero se necesitan más estudios para entender mejor el grado adicional de protección por la vacuna en personas que se han
                                contagiado previamente.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                            ¿Quiénes forman los grupos de riesgo?​
                    </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Personas de 60 años o más.</li>
                                    <li>Mujeres embarazadas.</li>
                                    <li>Niñas y niños menores de 5 años.</li>
                                    <li>Quienes padecen enfermedades inmunodepresivas, crónicas, cardiacas, pulmonares, renales, hepáticas, sanguíneas o metabólicas.</li>
                                    <li>Quienes padecen obesidad y sobrepeso.</li>
                                </ul>
                                <h6>Si tienes dudas acerca de tu situación de salud, consulta a tu médico.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h2 class="accordion-header" id="flush-headingEig">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEig" aria-expanded="false" aria-controls="flush-collapseEig">
                            ¿Puedo contagiarme de una persona sin síntomas?

                    </button>
                        </h2>
                        <div id="flush-collapseEig" class="accordion-collapse collapse" aria-labelledby="flush-headingEig" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">El virus se contagia con mayor facilidad cuando una persona infectada presenta síntomas, pero también es posible contagiar el virus antes de que haya síntomas. Por eso, lo mejor es tener las manos limpias y no tocarse el rostro.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h2 class="accordion-header" id="flush-headingele">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseele" aria-expanded="false" aria-controls="flush-collapseele">
                            ¿Debo aislarme si tuve contacto con un caso confirmado?

                    </button>
                        </h2>
                        <div id="flush-collapseele" class="accordion-collapse collapse" aria-labelledby="flush-headingele" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">El aislamiento es una medida voluntaria: a nadie se le puede obligar, ni siquiera a los casos confirmados. Por fortuna, todos han aceptado la cuarentena para no diseminar la enfermedad. Hay muchos casos de personas que decidieron
                                ponerse en cuarentena al comprobar que estuvieron cerca de alguien que se enfermó de COVID-19.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <h1 class="step-border ms-5 h3 fw-bold ">Covid</h1>
                <img src="assets/img/img2.png " class="img-fluid ms-5">
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="text-light  text-center p-5 rounden">
                <p> Mediline © 2021 | Todos los Derechos Reservados | Aviso de privacidad | Términos y condiciones
            </div>
        </div>
    </section>


    <script scr="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>