<div class="row"></div>

<section id="centros">
    <div class="container">
        <div class="row ">
            <h3 class="text-center pb-5 pt-2 h2 fw-bold"> Centros Médicos</h3>
        </div>
    </div>
</section>


<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <div class="content ">
                    <img src="assets/img/h1.png " class="img-fluid ">
                </div>
            </div>
            <div class="col-lg-8  mx-auto align-self-center">

                <h1 class="step-border h4 fw-bold text-left ms-5 mb-4"> Hospital General HOSPITAL GENERAL DE CD. MANTE DR. EMILIO MARTÍNEZ MANAUTOU</h1>
                <h1 class="h6 fw-bold ms-5 text-secondary ">Horarios de atención: L,M,M,J,V De 8:00 a 20:00</h1>
                <p class=" mb-4 ms-5">Esta es una unidad del segundo nivel de atención en salud. Se atiende a todas aquellas personas que tienen sospecha de estar enfermas de COVID, y que presentan dificultad para respirar, falta de aire o dolor en el pecho. Si no tienes estos
                    síntomas y perteneces al grupo de mayor riesgo de complicaciones por COVID (mayor de 60 años, embarazadas, con discapacidad, con enfermedades como diabetes, hipertensión, obesidad, cáncer, VIH/SIDA e inmunosupresión), acude a una unidad
                    de primer nivel</p>
            </div>
        </div>
    </div>
</section>

<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <div class="content ">
                    <img src="assets/img/h1.png " class="img-fluid ">
                </div>
            </div>
            <div class="col-lg-8  mx-auto align-self-center">

                <h1 class="step-border h4 fw-bold text-left ms-5 mb-4"> Hospital General HOSPITAL GENERAL DE CD. MANTE DR. EMILIO MARTÍNEZ MANAUTOU</h1>
                <h1 class="h6 fw-bold ms-5 text-secondary ">Horarios de atención: L,M,M,J,V De 8:00 a 20:00</h1>
                <p class=" mb-4 ms-5">Esta es una unidad del segundo nivel de atención en salud. Se atiende a todas aquellas personas que tienen sospecha de estar enfermas de COVID, y que presentan dificultad para respirar, falta de aire o dolor en el pecho. Si no tienes estos
                    síntomas y perteneces al grupo de mayor riesgo de complicaciones por COVID (mayor de 60 años, embarazadas, con discapacidad, con enfermedades como diabetes, hipertensión, obesidad, cáncer, VIH/SIDA e inmunosupresión), acude a una unidad
                    de primer nivel</p>
            </div>
        </div>
    </div>
</section>

<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <div class="content ">
                    <img src="assets/img/h1.png " class="img-fluid ">
                </div>
            </div>
            <div class="col-lg-8  mx-auto align-self-center">

                <h1 class="step-border h4 fw-bold text-left ms-5 mb-4"> Hospital General HOSPITAL GENERAL DE CD. MANTE DR. EMILIO MARTÍNEZ MANAUTOU</h1>
                <h1 class="h6 fw-bold ms-5 text-secondary ">Horarios de atención: L,M,M,J,V De 8:00 a 20:00</h1>
                <p class=" mb-4 ms-5">Esta es una unidad del segundo nivel de atención en salud. Se atiende a todas aquellas personas que tienen sospecha de estar enfermas de COVID, y que presentan dificultad para respirar, falta de aire o dolor en el pecho. Si no tienes estos
                    síntomas y perteneces al grupo de mayor riesgo de complicaciones por COVID (mayor de 60 años, embarazadas, con discapacidad, con enfermedades como diabetes, hipertensión, obesidad, cáncer, VIH/SIDA e inmunosupresión), acude a una unidad
                    de primer nivel</p>
            </div>
        </div>
    </div>
</section>