<app-navbar></app-navbar>

<!-- 
    <app-home></app-home>
    <div class="row container mt-4">
    <div class="col-3">
        <h2>Busquedas</h2>
        <hr>
        <ul class="list-hroup">
            <li routerLink=" " class="list-group-item">Inicio</li>
            <li routerLink="servicios" class="list-group-item">Servicios</li>
            <li routerLink="estadisticas" class="list-group-item">Estadísticas</li>
            <li routerLink="centrosm" class="list-group-item">Centros Médicos</li>
            <li routerLink="preguntasf" class="list-group-item">Preguntas Frecuentes</li>
        </ul>
    </div>
</div> -->

<div class="container">
    <router-outlet></router-outlet>
</div>