.navbar {
    position: fixed;
    z-index: 50;
    width: 100%;
    color: black;
    font-family: 'Mulish';
    min-height: 50px;
}

@media (min-width: 768px) {
    .navbar {
        background-color: transparent!important;
        font-family: 'Mulish';
        color: black;
    }
}

.navg a:hover {
    color: #fafafa;
    background-color: #458FF6;
    font-family: 'Mulish';
}