<nav class="navbar navbar-expand-lg navbar navbar-light position-absolute w-100" style="background-color: #e3f2fd;">
    <div class="container">

        <a class="navbar-brand" href=¨¨>
            <img src="assets/img/logoc.png" alt="" style="max-width: 100%;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navg navbar-nav w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" Poppins-current="page" [routerLink]="['']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" Poppins-current="page" [routerLink]="['servicios']">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" Poppins-current="page" [routerLink]="['estadisticas']">Estadísticas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" Poppins-current="page" [routerLink]="['centrosm']">Centros Médicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" Poppins-current="page" [routerLink]="['preguntasf']">Preguntas Frecuentes</a>
                </li>

            </ul>

        </div>
    </div>
</nav>